<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="stylesheet" href="styles/styles_module.css">
    <title>Chat para Estudiante y profesor</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/imagenes.css">
    <link rel="stylesheet" href="../Diseloj.css">
     <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="shortcut icon" href="img/escudo1.png" type="img/x-icon">
    <script src="src/source_module.js"></script>
    <iframe src="https://chateamos.globalchat.org/?chatnow=0&nick=&password=&channel=nombre-de-tu-canal" style="width:800px; height:450px;" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe><br /><small><a target="_blank" href="http://www.globalchat.org">Ofrecido por GlobalChat</a></small><br />
	
<a class="boton-personalizado" href="https://sensacionweb.com/">Mi Botón</a>
</head>
 <body class="body2">
	
</body>
</html>
